.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ccc;
}

.header-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex: 1;
    gap: 5px;
}

.header-l-i2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.header-l-i2 > a {
    color: #222;
}

.header-r {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header-r-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.header-r-l-i > a{
    color: #334155;
    padding-left: 16px;
    padding-right: 16px;
}

.header-r-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    gap: 5px;
}

a {
    text-decoration: none;
}

.sign_in, .sign_up {
    border: 2px solid #5072e9;
    border-radius: 30px;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 1rem;
    font-style: normal;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sign_in {
    background-color: white;
    color: #5072e9;
}

.sign_up {
    background-color: #5072e9;
    color: white;
}

@media (min-width: 922px) {
    .header-r {
        display: flex;
    }
    .header-l-i2 > a{
        color: #26387d;
    }
    .ham-menu {
        display: none;
    }
}

svg {
    width: 20px;
    height: 20px;
}

.ham-menu {
    padding: 10.95px;
    background: transparent;
    border: 0px;
}

